<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form action="/api/v1/users/recruter-user" method="post" enctype="multipart/form-data">
        <input type="file" name="resume" multiple>
        <input type="submit" value="Save">
    </form>
</body>
</html>